	  <footer class="" >
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-2">
			  </div>
	          <div class="col-md-2">
	            <h5>Products</h5>
		        <ul>
		        	<li><a href="/">LiShop for iPhone</a></li>
              <li><a href="/">for Android(soon)</a></li>
              <li><a href="/">for Web(soon)</a></li>
		        </ul>
	        </div>
	        <div class="col-md-2">
		        <h5>Support</h5>
				<ul>
		        	<li><a href="/contact.html">Contact</a></li>
		        	<li><a href="/support.html">Help</a></li>
		        </ul>
	        </div>
	        <div class="col-md-2">
		        <h5>News</h5>
				<ul>
		        	<li><a href="http://www.facebook.com/lishopiphoneapp">Blog</a></li>
		        	<li><a href="http://twitter.com/lishop_iphone">Twitter</a></li>
		        </ul>
	        </div>
	        <div class="col-md-2">
		        <h5>Company</h5>
				<ul>
					<li><a href="/contact.html">About Me</a></li>
		        	<li><a href="/press.html">Press</a></li>
		        </ul>
	        </div>
			<div class="col-md-2">
		  	</div>
	       </div>
	   </div>
	  </footer>  

    

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/application-ee73e6df07c48f57fdb9c7207427ef1b.js"></script>